<a id='top'></a>

## User Engagement Analysis of Tellco Telecommunications

#### Tables of Content

<html>
    <ul>
        <li><a href='#intro'>Introduction</a></li>
        <li><a href='#obj'>Objective</a></li>
        <li><a href= '#research'/>Research Questions<a/></li>
              <br/>
            <ul>
             <li><a href='#fe'>Feature Engineering</a></li>
             </ul>
            <ol>
            <li><a href='#r1'>Research Question 1</a></li>
             <li><a href='#r2'>Research Question 2</a></li>
             <li><a href='#r3'>Research Question 3</a></li>
            </ol>
        <br/>
        <li><a href= '#ana'>Analysis<a/></li>
        <li><a href= '#go'>General Observation<a/></li>
        <li><a href= '#rc'>Recommendation & Conclusions<a/></li>
        <li><a href= '#lim'>Limitations<a/></li>
        <li><a href= '#ref'>Referecnes<a/></li>
    </ul>
</html>

<a id= 'intro'> </a>

#### Introduction

In telecommunication , tracking the user activities on the database sessions is a good starting point to appreciate the user engagement for 

the overall applications and per application as well.

If we can determine the level of engagement of a random user for any application, then it could help the technical teams of the business to 

know where to concentrate network resources for different clusters of customers based on the engagement scores

<a id='obj'></a>

#### Objective

The objective of this analysis is outlised as below:
    
- Track the user’s engagement using the following engagement `metrics`:

- -             Sessions frequency

- -  The duration of the session

- -  The sessions total traffic (download and upload (bytes))

> Import libraries

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import cluster

<a id='research'></a>

#### Research Questions

##### Research Question 1

- Customer Aggregation

             
 1.    Aggregate the above metrics per customer id(MSISDN)  
                     
                 i  Report the top 10 customers per engagement metric

2.      Aggregat euser total traffic per application 
                    
                 i  Report the top 10 most engaged users per application 
                   
                 ii  Plot the top 3 most used applications

##### Research Question 2

- Customer Classification

             
 1. K-Means Clustering 
 
      
        i  Normalize each engagement metric & run a k-means(k=3)
                  
            to classify customers in three groups of engagement.
                          
        ii  Compute the minimum, maximum, average & total non-normalized metrics for each cluster.                        
                          
             - Visual representaiton of result and textual interpretations
             
        iii Using ​k​-means clustering algorithm:
            
            group users in k-engagement clusters based on the engagement metrics

In [6]:
path = '../datasets/cleaned/cleanWk2_data.csv'
data = pd.read_csv(path)

In [7]:
data

,bearer_id,start,start_ms,end,end_ms,imsi,msisdn_number,imei,last_location_name,avg_rtt_dl__ms_,...,youtube_dl__bytes_,youtube_ul__bytes_,netflix_dl__bytes_,netflix_ul__bytes_,gaming_dl__bytes_,gaming_ul__bytes_,other_dl__bytes_,other_ul__bytes_,total_ul__bytes_,total_dl__bytes_
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.0,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.0,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,45.0,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,45.0,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,45.0,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42,451.0,2019-04-30 06:02:33,214.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,32.0,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7349883264234609664,2019-04-29 07:28:42,483.0,2019-04-30 10:41:33,187.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,27.0,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,13114483573367300096,2019-04-29 07:28:43,283.0,2019-04-30 10:46:12,810.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,43.0,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,13114483573367300096,2019-04-29 07:28:43,696.0,2019-04-30 10:40:34,327.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,37.0,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,,2019-04-29 07:08:38,499.0,2019-04-25 00:01:32,500.0,2.082014e+14,3.362632e+10,3.518231e+13,D41377B,45.0,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,41143312.0,455841077.5

In [8]:
data.columns

Index(['bearer_id', 'start', 'start_ms', 'end', 'end_ms', 'imsi',
       'msisdn_number', 'imei', 'last_location_name', 'avg_rtt_dl__ms_',
       'avg_rtt_ul__ms_', 'avg_bearer_tp_dl__kbps_', 'avg_bearer_tp_ul__kbps_',
       'tcp_dl_retrans__vol__bytes_', 'tcp_ul_retrans__vol__bytes_',
       'dl_tp_<_50_kbps__%_', '50_kbps_<_dl_tp_<_250_kbps__%_',
       '250_kbps_<_dl_tp_<_1_mbps__%_', 'dl_tp_>_1_mbps__%_',
       'ul_tp_<_10_kbps__%_', '10_kbps_<_ul_tp_<_50_kbps__%_',
       '50_kbps_<_ul_tp_<_300_kbps__%_', 'ul_tp_>_300_kbps__%_',
       'http_dl__bytes_', 'http_ul__bytes_', 'activity_duration_dl__ms_',
       'activity_duration_ul__ms_', 'dur___ms__1', 'handset_manufacturer',
       'handset_type', 'nb_of_sec_with_125000b_<_vol_dl',
       'nb_of_sec_with_1250b_<_vol_ul_<_6250b',
       'nb_of_sec_with_31250b_<_vol_dl_<_125000b',
       'nb_of_sec_with_37500b_<_vol_ul',
       'nb_of_sec_with_6250b_<_vol_dl_<_31250b',
       'nb_of_sec_with_6250b_<_vol_ul_<_37500b',
       'nb_of_sec_with_vol_dl_<_6250b', 'nb_of_sec_with_vol_ul_<_1250b',
       'social_media_dl__bytes_', 'social_media_ul__bytes_',
       'google_dl__bytes_', 'google_ul__bytes_', 'email_dl__bytes_',
       'email_ul__bytes_', 'youtube_dl__bytes_', 'youtube_ul__bytes_',
       'netflix_dl__bytes_', 'netflix_ul__bytes_', 'gaming_dl__bytes_',
       'gaming_ul__bytes_', 'other_dl__bytes_', 'other_ul__bytes_',
       'total_ul__bytes_', 'total_dl__bytes_'],
      dtype='object')

<a id='fe'></a>

#### Feature Engineering
 - For this analyis, we would be working with the following features

In [9]:
columns = ['bearer_id', 'msisdn_number',
           'http_dl__bytes_', 'http_ul__bytes_', 'activity_duration_dl__ms_',
       'activity_duration_ul__ms_', 'dur___ms__1', 
          'social_media_dl__bytes_', 'social_media_ul__bytes_',
       'google_dl__bytes_', 'google_ul__bytes_', 'email_dl__bytes_',
       'email_ul__bytes_', 'youtube_dl__bytes_', 'youtube_ul__bytes_',
       'netflix_dl__bytes_', 'netflix_ul__bytes_', 'gaming_dl__bytes_',
       'gaming_ul__bytes_', 'other_dl__bytes_', 'other_ul__bytes_',
       'total_ul__bytes_', 'total_dl__bytes_']

> Get working data

In [88]:
working_data = data[columns]

In [89]:
working_data

,bearer_id,msisdn_number,http_dl__bytes_,http_ul__bytes_,activity_duration_dl__ms_,activity_duration_ul__ms_,dur___ms__1,social_media_dl__bytes_,social_media_ul__bytes_,google_dl__bytes_,...,youtube_dl__bytes_,youtube_ul__bytes_,netflix_dl__bytes_,netflix_ul__bytes_,gaming_dl__bytes_,gaming_ul__bytes_,other_dl__bytes_,other_ul__bytes_,total_ul__bytes_,total_dl__bytes_
0,13114483460844900352,3.366496e+10,1941949.0,229733.0,37624.0,38787.0,86399953.0,1.545765e+06,24420.00000,1.634479e+06,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,13114483482878900224,3.368185e+10,1941949.0,229733.0,168.0,3560.0,86399953.0,1.926113e+06,7165.00000,3.493924e+06,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,13114483484080500736,3.376063e+10,1941949.0,229733.0,0.0,0.0,86399953.0,1.684053e+06,42224.00000,8.535055e+06,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,13114483485442799616,3.375034e+10,1941949.0,229733.0,3330.0,37882.0,86399953.0,6.441210e+05,13372.00000,9.023734e+06,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,13114483499480700928,3.369980e+10,1941949.0,229733.0,0.0,0.0,86399953.0,8.626000e+05,50188.00000,6.248284e+06,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,3.365069e+10,1941949.0,229733.0,42376.0,41915.0,81230763.0,3.464974e+06,52091.00000,9.967603e+06,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7349883264234609664,3.366345e+10,1941949.0,229733.0,17264.0,16759.0,97970704.0,2.344568e+06,7613.00000,2.229420e+06,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,13114483573367300096,3.362189e+10,1941949.0,229733.0,25003.0,28640.0,98249527.0,1.245845e+06,14394.00000,3.850890e+06,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,13114483573367300096,3.361962e+10,1941949.0,229733.0,13405.0,34088.0,97910631.0,8.015470e+05,21562.00000,4.189773e+06,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,,3.362632e+10,1941949.0,229733.0,39304.5,46793.5,86399983.0,1.795322e+06,32928.43438,5.750753e+06,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,41143312.0,455841077.5

In [90]:
working_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   bearer_id                  150001 non-null  object
 1   msisdn_number              150001 non-null  float64
 2   http_dl__bytes_            150001 non-null  float64
 3   http_ul__bytes_            150001 non-null  float64
 4   activity_duration_dl__ms_  150001 non-null  float64
 5   activity_duration_ul__ms_  150001 non-null  float64
 6   dur___ms__1                150001 non-null  float64
 7   social_media_dl__bytes_    150001 non-null  float64
 8   social_media_ul__bytes_    150001 non-null  float64
 9   google_dl__bytes_          150001 non-null  float64
 10  google_ul__bytes_          150001 non-null  float64
 11  email_dl__bytes_           150001 non-null  float64
 12  email_ul__bytes_           150001 non-null  float64
 13  youtube_dl__bytes_         150001 non-null  float64
 14  youtube_ul__bytes_         150001 non-null  float64
 15  netflix_dl__bytes_         150001 non-null  float64
 16  netflix_ul__bytes_         150001 non-null  float64
 17  gaming_dl__bytes_          150001 non-null  float64
 18  gaming_ul__bytes_          150001 non-null  float64
 19  other_dl__bytes_           150001 non-null  float64
 20  other_ul__bytes_           150001 non-null  float64
 21  total_ul__bytes_           150001 non-null  float64
 22  total_dl__bytes_           150001 non-null  float64
dtypes: float64(22), object(1)
memory usage: 26.3+ MB

<a id="r1"></a>
#### Research Question 1

`metrics`:

- -             Sessions frequency

- -  The duration of the session

- -  The sessions total traffic (download and upload (bytes))

- Customer Aggregation

             
 1.    Aggregate the above metrics per customer id(MSISDN)  
                     
                 i  Report the top 10 customers per engagement metric

2.      Aggregat euser total traffic per application 
                    
                 i  Report the top 10 most engaged users per application 
                   
                 ii  Plot the top 3 most used applications

> Report the top 10 customers per engagement metric

We would start by inspecting the msisdn column

In [91]:
working_data.msisdn_number.value_counts()

3.362632e+10    1084
3.361489e+10      17
3.362578e+10      17
3.365973e+10      16
3.376054e+10      15
                ...
3.366162e+10       1
3.365868e+10       1
3.366778e+10       1
3.361812e+10       1
3.362668e+10       1
Name: msisdn_number, Length: 106856, dtype: int64

In [92]:
working_data.msisdn_number.isnull().any()

False

In [93]:
"" in working_data.msisdn_number

False

> convert msisdn number to string datatype

In [94]:
 working_data = working_data.astype({'msisdn_number':'str'})

In [95]:
working_data.dtypes

bearer_id                     object
msisdn_number                 object
http_dl__bytes_              float64
http_ul__bytes_              float64
activity_duration_dl__ms_    float64
activity_duration_ul__ms_    float64
dur___ms__1                  float64
social_media_dl__bytes_      float64
social_media_ul__bytes_      float64
google_dl__bytes_            float64
google_ul__bytes_            float64
email_dl__bytes_             float64
email_ul__bytes_             float64
youtube_dl__bytes_           float64
youtube_ul__bytes_           float64
netflix_dl__bytes_           float64
netflix_ul__bytes_           float64
gaming_dl__bytes_            float64
gaming_ul__bytes_            float64
other_dl__bytes_             float64
other_ul__bytes_             float64
total_ul__bytes_             float64
total_dl__bytes_             float64
dtype: object

> group each metric by users msisdn number

1. Group by `session frequency`

In [96]:
sess_fre = working_data.groupby('msisdn_number')['bearer_id'].count().reset_index(name='session_fre').sort_values('session_fre', ascending = False)

In [97]:
sess_fre.head()

       msisdn_number  session_fre
13527  33626320676.0         1084
6438   33614892860.0           17
13181  33625779332.0           17
37053  33659725664.0           16
92925  33760536639.0           15

2. Grouo by `session duration`

In [100]:
sess_dur = working_data.groupby('msisdn_number')['dur___ms__1'].sum().reset_index(name='session_dur').sort_values('session_dur', ascending = False)

In [101]:
sess_dur

       msisdn_number   session_dur
13527  33626320676.0  7.099096e+10
37053  33659725664.0  3.625663e+09
76364  33675877202.0  2.961686e+09
57242  33664712899.0  2.927790e+09
60339  33665530316.0  2.684571e+09
...              ...           ...
24742  33650431620.0  7.267018e+06
85147  33698390293.0  7.258080e+06
35288  33659328207.0  7.189000e+06
60768  33665660120.0  7.146574e+06
99738  33763505878.0  7.142988e+06

[106856 rows x 2 columns]

> We have to convert the session duration to hours, so our interpreations can be more clear after analysis

In [102]:
sess_dur.session_dur=sess_dur.session_dur.apply(lambda x: int(x/(1000*60*60)%24))

In [103]:
sess_dur.rename(columns={'session_dur':'session_dur_hours'}, inplace=True)

In [104]:
sess_dur

       msisdn_number  session_dur_hours
13527  33626320676.0                 15
37053  33659725664.0                 23
76364  33675877202.0                  6
57242  33664712899.0                 21
60339  33665530316.0                  1
...              ...                ...
24742  33650431620.0                  2
85147  33698390293.0                  2
35288  33659328207.0                  1
60768  33665660120.0                  1
99738  33763505878.0                  1

[106856 rows x 2 columns]

3. Group by session `total traffic`

In [105]:
working_data['total_traffic_bytes'] = working_data.total_dl__bytes_ + working_data.total_ul__bytes_

In [106]:
working_data.total_traffic_bytes

0         345629377.0
1         707185356.0
2         307690973.0
3         889352748.0
4         607681403.0
             ...
149996    631804110.0
149997    705783925.0
149998    627698629.0
149999    401522016.0
150000    496984389.5
Name: total_traffic_bytes, Length: 150001, dtype: float64

In [107]:
sess_trfc = working_data.groupby('msisdn_number')['total_traffic_bytes'].sum().reset_index(name='session_trfc').sort_values('session_trfc', ascending = False)

In [108]:
sess_trfc

        msisdn_number  session_trfc
13527   33626320676.0  5.397171e+11
6438    33614892860.0  8.846226e+09
92925   33760536639.0  8.514774e+09
13181   33625779332.0  8.499621e+09
76364   33675877202.0  7.891111e+09
...               ...           ...
76162   33675475328.0  3.802236e+07
104771  33782507973.0  3.792924e+07
63658   33666684512.0  3.399962e+07
43678   33661319633.0  3.357584e+07
34697   33659200818.0  3.324901e+07

[106856 rows x 2 columns]

> merge all metrics to a single metrics table

In [112]:
agg_metrics = sess_dur.merge(sess_fre,on='msisdn_number').merge(sess_trfc, on='msisdn_number')

In [113]:
agg_metrics

        msisdn_number  session_dur_hours  session_fre  session_trfc
0       33626320676.0                 15         1084  5.397171e+11
1       33659725664.0                 23           16  7.705863e+09
2       33675877202.0                  6           15  7.891111e+09
3       33664712899.0                 21           11  6.872018e+09
4       33665530316.0                  1           10  4.882856e+09
...               ...                ...          ...           ...
106851  33650431620.0                  2            1  2.088937e+08
106852  33698390293.0                  2            1  8.366596e+08
106853  33659328207.0                  1            1  2.798045e+08
106854  33665660120.0                  1            1  6.785174e+08
106855  33763505878.0                  1            1  5.583349e+08

[106856 rows x 4 columns]

> from the metrics aggregation table, we can perform various analysis

>> Top 10 customers per engagement metric