#### Data Wrangling

> Import libraries

In [1]:
# pandas 
import pandas as pd 
# dependency for reading excel
import xlrd
#maplotloib
%matplotlib inline
import seaborn as sns# import xlrd
import matplotlib.pyplot as plt

> Load data into worksapce

In [2]:
data_path = '../datasets/raw/Week2_challenge_data_source.xlsx'

In [3]:
data = pd.read_excel(data_path)

In [4]:
data

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42,451.0,2019-04-30 06:02:33,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7349883264234609664,2019-04-29 07:28:42,483.0,2019-04-30 10:41:33,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,13114483573367300096,2019-04-29 07:28:43,283.0,2019-04-30 10:46:12,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,13114483573367300096,2019-04-29 07:28:43,696.0,2019-04-30 10:40:34,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

#### Understanding the Data

> Examins data for quality and strutural issues

> Data Info

In [5]:
print(f'Data Shape:\nColumns = {data.shape[0]}\nRows   =  {data.shape[1]}\n')

Data Shape:
Columns = 150001
Rows   =  55

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  object
 1   Start                                     150000 non-null  datetime64[ns]
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  datetime64[ns]
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: datetime64[ns](2), float64(49), object(4)
memory usage: 62.9+ MB

- It appears there are missing values in our dataset
- We need to know what columns contain missing values, the number of these columns and find how to take care of it

> no of columns with missing values

In [7]:
f'no of columns with mssing values: {len(data.columns[data.isnull().any()].tolist())}'

'no of columns with mssing values: 40'

> columns with missing values

In [8]:
null_cols = data.columns[data.isnull().any()].tolist()
null_cols

['Start',
 'Start ms',
 'End',
 'End ms',
 'Dur. (ms)',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Avg RTT DL (ms)',
 'Avg RTT UL (ms)',
 'Avg Bearer TP DL (kbps)',
 'Avg Bearer TP UL (kbps)',
 'TCP DL Retrans. Vol (Bytes)',
 'TCP UL Retrans. Vol (Bytes)',
 'DL TP < 50 Kbps (%)',
 '50 Kbps < DL TP < 250 Kbps (%)',
 '250 Kbps < DL TP < 1 Mbps (%)',
 'DL TP > 1 Mbps (%)',
 'UL TP < 10 Kbps (%)',
 '10 Kbps < UL TP < 50 Kbps (%)',
 '50 Kbps < UL TP < 300 Kbps (%)',
 'UL TP > 300 Kbps (%)',
 'HTTP DL (Bytes)',
 'HTTP UL (Bytes)',
 'Activity Duration DL (ms)',
 'Activity Duration UL (ms)',
 'Dur. (ms).1',
 'Handset Manufacturer',
 'Handset Type',
 'Nb of sec with 125000B < Vol DL',
 'Nb of sec with 1250B < Vol UL < 6250B',
 'Nb of sec with 31250B < Vol DL < 125000B',
 'Nb of sec with 37500B < Vol UL',
 'Nb of sec with 6250B < Vol DL < 31250B',
 'Nb of sec with 6250B < Vol UL < 37500B',
 'Nb of sec with Vol DL < 6250B',
 'Nb of sec with Vol UL < 1250B',
 'Total UL (Bytes)',
 'Total DL (Bytes)']

> poportion of null values in columns containtnig values

In [9]:
data[null_cols].isnull().mean()*100

Start                                        0.000667
Start ms                                     0.000667
End                                          0.000667
End ms                                       0.000667
Dur. (ms)                                    0.000667
IMSI                                         0.379997
MSISDN/Number                                0.710662
IMEI                                         0.381331
Last Location Name                           0.768662
Avg RTT DL (ms)                             18.552543
Avg RTT UL (ms)                             18.541210
Avg Bearer TP DL (kbps)                      0.000667
Avg Bearer TP UL (kbps)                      0.000667
TCP DL Retrans. Vol (Bytes)                 58.763608
TCP UL Retrans. Vol (Bytes)                 64.432237
DL TP < 50 Kbps (%)                          0.502663
50 Kbps < DL TP < 250 Kbps (%)               0.502663
250 Kbps < DL TP < 1 Mbps (%)                0.502663
DL TP > 1 Mbps (%)                           0.502663
UL TP < 10 Kbps (%)                          0.527996
10 Kbps < UL TP < 50 Kbps (%)                0.527996
50 Kbps < UL TP < 300 Kbps (%)               0.527996
UL TP > 300 Kbps (%)                         0.527996
HTTP DL (Bytes)                             54.315638
HTTP UL (Bytes)                             54.539636
Activity Duration DL (ms)                    0.000667
Activity Duration UL (ms)                    0.000667
Dur. (ms).1                                  0.000667
Handset Manufacturer                         0.381331
Handset Type                                 0.381331
Nb of sec with 125000B < Vol DL             65.024900
Nb of sec with 1250B < Vol UL < 6250B       61.928920
Nb of sec with 31250B < Vol DL < 125000B    62.390251
Nb of sec with 37500B < Vol UL              86.835421
Nb of sec with 6250B < Vol DL < 31250B      58.877607
Nb of sec with 6250B < Vol UL < 37500B      74.561503
Nb of sec with Vol DL < 6250B                0.503330
Nb of sec with Vol UL < 1250B                0.528663
Total UL (Bytes)                             0.000667
Total DL (Bytes)                             0.000667
dtype: float64

In [10]:
# data.isnull().mean()*100

> duplicated values in our rows

In [11]:
data.duplicated().any()

False

there are no duplicated rows

> Detecting Outliers in null columns

This would help determine whether to impute null values using medain or mean

we would select all  numeric null columns and calcualate thier z-score to determine 

this would help us understand better hwo to impute the null values

In [12]:
numeric_data = data[null_cols]

In [13]:
numeric_data = numeric_data.select_dtypes(include="number")

We have to drop incorrect numeric datatype such as IMSI, IMEI.. this would be dealt with in the cleaning phase

In [14]:
numeric_data=numeric_data.drop(columns=['IMSI','IMEI','MSISDN/Number'], axis=1)#,inplace=True)

In [15]:
numeric_data

,Start ms,End ms,Dur. (ms),Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),...,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Total UL (Bytes),Total DL (Bytes)
0,770.0,662.0,1823652.0,42.0,5.0,23.0,44.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,213.0,214.0,36749741.0,308879636.0
1,235.0,606.0,1365104.0,65.0,5.0,16.0,26.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,971.0,1022.0,53800391.0,653384965.0
2,1.0,652.0,1361762.0,NaN,NaN,6.0,9.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,751.0,695.0,27883638.0,279807335.0
3,486.0,171.0,1321509.0,NaN,NaN,44.0,44.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,17.0,207.0,43324218.0,846028530.0
4,565.0,954.0,1089009.0,NaN,NaN,6.0,9.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,607.0,604.0,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,451.0,214.0,81230.0,32.0,0.0,52.0,65.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,223.0,229.0,57628851.0,574175259.0
149997,483.0,187.0,97970.0,27.0,2.0,23.0,54.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,105.0,102.0,39135081.0,666648844.0
149998,283.0,810.0,98249.0,43.0,6.0,43.0,47.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,104.0,108.0,34912224.0,592786405.0
149999,696.0,327.0,97910.0,37.0,5.0,34.0,37.0,NaN,NaN,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,43.0,82.0,29626096.0,371895920.0
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
numeric_data.dtypes

Start ms                                    float64
End ms                                      float64
Dur. (ms)                                   float64
Avg RTT DL (ms)                             float64
Avg RTT UL (ms)                             float64
Avg Bearer TP DL (kbps)                     float64
Avg Bearer TP UL (kbps)                     float64
TCP DL Retrans. Vol (Bytes)                 float64
TCP UL Retrans. Vol (Bytes)                 float64
DL TP < 50 Kbps (%)                         float64
50 Kbps < DL TP < 250 Kbps (%)              float64
250 Kbps < DL TP < 1 Mbps (%)               float64
DL TP > 1 Mbps (%)                          float64
UL TP < 10 Kbps (%)                         float64
10 Kbps < UL TP < 50 Kbps (%)               float64
50 Kbps < UL TP < 300 Kbps (%)              float64
UL TP > 300 Kbps (%)                        float64
HTTP DL (Bytes)                             float64
HTTP UL (Bytes)                             float64
Activity Duration DL (ms)                   float64
Activity Duration UL (ms)                   float64
Dur. (ms).1                                 float64
Nb of sec with 125000B < Vol DL             float64
Nb of sec with 1250B < Vol UL < 6250B       float64
Nb of sec with 31250B < Vol DL < 125000B    float64
Nb of sec with 37500B < Vol UL              float64
Nb of sec with 6250B < Vol DL < 31250B      float64
Nb of sec with 6250B < Vol UL < 37500B      float64
Nb of sec with Vol DL < 6250B               float64
Nb of sec with Vol UL < 1250B               float64
Total UL (Bytes)                            float64
Total DL (Bytes)                            float64
dtype: object

> We would etect outliers in each fo the column by calculating thier Z-Score

In [17]:
cols = list(numeric_data.columns)
outliers = pd.DataFrame()
#now iterate over the remaining columns and create a new zscore column
for col in cols:
    col_zscore = col + '_zscore'
    outliers[col_zscore] = (numeric_data[col] - numeric_data[col].mean())/numeric_data[col].std(ddof=0)

In [18]:
outliers

,Start ms_zscore,End ms_zscore,Dur. (ms)_zscore,Avg RTT DL (ms)_zscore,Avg RTT UL (ms)_zscore,Avg Bearer TP DL (kbps)_zscore,Avg Bearer TP UL (kbps)_zscore,TCP DL Retrans. Vol (Bytes)_zscore,TCP UL Retrans. Vol (Bytes)_zscore,DL TP < 50 Kbps (%)_zscore,...,Nb of sec with 125000B < Vol DL_zscore,Nb of sec with 1250B < Vol UL < 6250B_zscore,Nb of sec with 31250B < Vol DL < 125000B_zscore,Nb of sec with 37500B < Vol UL_zscore,Nb of sec with 6250B < Vol DL < 31250B_zscore,Nb of sec with 6250B < Vol UL < 37500B_zscore,Nb of sec with Vol DL < 6250B_zscore,Nb of sec with Vol UL < 1250B_zscore,Total UL (Bytes)_zscore,Total DL (Bytes)_zscore
0,0.938328,0.566473,21.212977,-0.109387,-0.149338,-0.553861,-0.373254,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.382354,-0.374801,-0.387667,-0.597045
1,-0.915379,0.372094,15.554499,-0.072277,-0.149338,-0.554153,-0.377146,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.299707,-0.295275,1.124405,0.814041
2,-1.726159,0.531763,15.513259,NaN,NaN,-0.554570,-0.380821,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.323694,-0.327459,-1.173923,-0.716124
3,-0.045695,-1.137815,15.016538,NaN,NaN,-0.552985,-0.373254,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.403724,-0.375490,0.195366,1.603104
4,0.228030,1.580022,12.147490,NaN,NaN,-0.554570,-0.380821,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.339395,-0.336416,-0.228655,0.468969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,-0.166966,-0.988560,-0.288491,-0.125521,-0.208305,-0.552651,-0.368714,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.381263,-0.373324,1.463918,0.489599
149997,-0.056090,-1.082279,-0.081920,-0.133589,-0.184719,-0.553861,-0.371092,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.394129,-0.385824,-0.176132,0.868369
149998,-0.749065,1.080190,-0.078477,-0.107773,-0.137545,-0.553027,-0.372606,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.394238,-0.385233,-0.550620,0.565830
149999,0.681928,-0.596331,-0.082660,-0.117454,-0.149338,-0.553402,-0.374768,NaN,NaN,0.5488,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.400889,-0.387792,-1.019400,-0.338932
150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### values with __Z-score >=3 & Z-score <=-3__ are outliers.

 - If the frequency of such values are larger than 40% in any column, we would condier such column as having large number of outliers

- Null columns with outliers greater than 40% would be imputed using median

- Null columns with outliers less than 40% would be imputed using mean

In [19]:
def z_prop(df, col_list):
    z_dict = {}
    for col in col_list:
#         origcol_size = df[col].shape[0]
        zs = df[(df[col] >=3) | (df[col]<=-3)]
        #display(zs)
        print(f'{col}  -   {zs.shape[0]}')
        prop = round((zs.shape[0]/df.shape[0])*100,2)
        z_dict[col] = prop
    return z_dict

In [20]:
outlier_prop = z_prop(outliers, outliers.columns.to_list())

Start ms_zscore  -   0
End ms_zscore  -   0
Dur. (ms)_zscore  -   2214
Avg RTT DL (ms)_zscore  -   717
Avg RTT UL (ms)_zscore  -   677
Avg Bearer TP DL (kbps)_zscore  -   2983
Avg Bearer TP UL (kbps)_zscore  -   4269
TCP DL Retrans. Vol (Bytes)_zscore  -   416
TCP UL Retrans. Vol (Bytes)_zscore  -   55
DL TP < 50 Kbps (%)_zscore  -   3467
50 Kbps < DL TP < 250 Kbps (%)_zscore  -   3462
250 Kbps < DL TP < 1 Mbps (%)_zscore  -   3147
DL TP > 1 Mbps (%)_zscore  -   3464
UL TP < 10 Kbps (%)_zscore  -   2199
10 Kbps < UL TP < 50 Kbps (%)_zscore  -   2018
50 Kbps < UL TP < 300 Kbps (%)_zscore  -   1029
UL TP > 300 Kbps (%)_zscore  -   749
HTTP DL (Bytes)_zscore  -   314
HTTP UL (Bytes)_zscore  -   394
Activity Duration DL (ms)_zscore  -   3558
Activity Duration UL (ms)_zscore  -   2958
Dur. (ms).1_zscore  -   2214
Nb of sec with 125000B < Vol DL_zscore  -   1122
Nb of sec with 1250B < Vol UL < 6250B_zscore  -   616
Nb of sec with 31250B < Vol DL < 125000B_zscore  -   1129
Nb of sec with 37500B < Vol UL_zscore  -   130
Nb of sec with 6250B < Vol DL < 31250B_zscore  -   1044
Nb of sec with 6250B < Vol UL < 37500B_zscore  -   346
Nb of sec with Vol DL < 6250B_zscore  -   2995
Nb of sec with Vol UL < 1250B_zscore  -   3685
Total UL (Bytes)_zscore  -   55
Total DL (Bytes)_zscore  -   0

#### Proportion of outliers values in each column

In [21]:
outlier_prop

{'Start ms_zscore': 0.0,
 'End ms_zscore': 0.0,
 'Dur. (ms)_zscore': 1.48,
 'Avg RTT DL (ms)_zscore': 0.48,
 'Avg RTT UL (ms)_zscore': 0.45,
 'Avg Bearer TP DL (kbps)_zscore': 1.99,
 'Avg Bearer TP UL (kbps)_zscore': 2.85,
 'TCP DL Retrans. Vol (Bytes)_zscore': 0.28,
 'TCP UL Retrans. Vol (Bytes)_zscore': 0.04,
 'DL TP < 50 Kbps (%)_zscore': 2.31,
 '50 Kbps < DL TP < 250 Kbps (%)_zscore': 2.31,
 '250 Kbps < DL TP < 1 Mbps (%)_zscore': 2.1,
 'DL TP > 1 Mbps (%)_zscore': 2.31,
 'UL TP < 10 Kbps (%)_zscore': 1.47,
 '10 Kbps < UL TP < 50 Kbps (%)_zscore': 1.35,
 '50 Kbps < UL TP < 300 Kbps (%)_zscore': 0.69,
 'UL TP > 300 Kbps (%)_zscore': 0.5,
 'HTTP DL (Bytes)_zscore': 0.21,
 'HTTP UL (Bytes)_zscore': 0.26,
 'Activity Duration DL (ms)_zscore': 2.37,
 'Activity Duration UL (ms)_zscore': 1.97,
 'Dur. (ms).1_zscore': 1.48,
 'Nb of sec with 125000B < Vol DL_zscore': 0.75,
 'Nb of sec with 1250B < Vol UL < 6250B_zscore': 0.41,
 'Nb of sec with 31250B < Vol DL < 125000B_zscore': 0.75,
 'Nb of sec with 37500B < Vol UL_zscore': 0.09,
 'Nb of sec with 6250B < Vol DL < 31250B_zscore': 0.7,
 'Nb of sec with 6250B < Vol UL < 37500B_zscore': 0.23,
 'Nb of sec with Vol DL < 6250B_zscore': 2.0,
 'Nb of sec with Vol UL < 1250B_zscore': 2.46,
 'Total UL (Bytes)_zscore': 0.04,
 'Total DL (Bytes)_zscore': 0.0}

In [22]:
outlier_df = pd.Series(outlier_prop).reset_index()
outlier_df.rename(columns={'index':'features',0:'prop_outliers'}, inplace=True)

In [23]:
outlier_df

                                           features  prop_outliers
0                                   Start ms_zscore           0.00
1                                     End ms_zscore           0.00
2                                  Dur. (ms)_zscore           1.48
3                            Avg RTT DL (ms)_zscore           0.48
4                            Avg RTT UL (ms)_zscore           0.45
5                    Avg Bearer TP DL (kbps)_zscore           1.99
6                    Avg Bearer TP UL (kbps)_zscore           2.85
7                TCP DL Retrans. Vol (Bytes)_zscore           0.28
8                TCP UL Retrans. Vol (Bytes)_zscore           0.04
9                        DL TP < 50 Kbps (%)_zscore           2.31
10            50 Kbps < DL TP < 250 Kbps (%)_zscore           2.31
11             250 Kbps < DL TP < 1 Mbps (%)_zscore           2.10
12                        DL TP > 1 Mbps (%)_zscore           2.31
13                       UL TP < 10 Kbps (%)_zscore           1.47
14             10 Kbps < UL TP < 50 Kbps (%)_zscore           1.35
15            50 Kbps < UL TP < 300 Kbps (%)_zscore           0.69
16                      UL TP > 300 Kbps (%)_zscore           0.50
17                           HTTP DL (Bytes)_zscore           0.21
18                           HTTP UL (Bytes)_zscore           0.26
19                 Activity Duration DL (ms)_zscore           2.37
20                 Activity Duration UL (ms)_zscore           1.97
21                               Dur. (ms).1_zscore           1.48
22           Nb of sec with 125000B < Vol DL_zscore           0.75
23     Nb of sec with 1250B < Vol UL < 6250B_zscore           0.41
24  Nb of sec with 31250B < Vol DL < 125000B_zscore           0.75
25            Nb of sec with 37500B < Vol UL_zscore           0.09
26    Nb of sec with 6250B < Vol DL < 31250B_zscore           0.70
27    Nb of sec with 6250B < Vol UL < 37500B_zscore           0.23
28             Nb of sec with Vol DL < 6250B_zscore           2.00
29             Nb of sec with Vol UL < 1250B_zscore           2.46
30                          Total UL (Bytes)_zscore           0.04
31                          Total DL (Bytes)_zscore           0.00

In [24]:
outlier_df.prop_outliers.unique()

array([0.  , 1.48, 0.48, 0.45, 1.99, 2.85, 0.28, 0.04, 2.31, 2.1 , 1.47,
       1.35, 0.69, 0.5 , 0.21, 0.26, 2.37, 1.97, 0.75, 0.41, 0.09, 0.7 ,
       0.23, 2.  , 2.46])

##### None of our null columns have outlier values greater than 40% of normal values

- hence we would impute null values in this column using the mean, as we have some confidence that these outlier values would not greatly affect the mean

### Cleaning

`#` Identified issues

1. Some columns have inappropriate datatypes (IMSI, IMEI)

2. Columns with missing values needs to be filled

3. duplicate columns like `Dur. (ms).1` & `Dur. (ms)`

4. Column names should be formatted to be uniform (all lower case & snake_casing)

> First let's make a copy of the original data

In [25]:
clean_data = data.copy()

`#` issue1

> convert columns [IMSI, IMEI,  MSISDN/Number] from number type to object/string type

In [26]:
clean_data.IMEI = clean_data.IMEI.astype('object')
clean_data.IMSI = clean_data.IMSI.astype('object')
clean_data['MSISDN/Number'] = clean_data['MSISDN/Number'].astype('object')

> Test

In [27]:
test1 = clean_data [['IMSI','IMEI','MSISDN/Number']]
test1.dtypes

IMSI             object
IMEI             object
MSISDN/Number    object
dtype: object

`#` issue2 

- Fill missing values in numeric columns with mean

- Fill missing vlaues in categorical columns with mode


_we have establised that our outlier values are fewer than the normal values in these columns_

1. numeric

In [28]:
clean_data[numeric_data.columns]=clean_data[numeric_data.columns].apply(lambda x: x.fillna(x.mean()),axis=0)

>test

In [29]:
clean_data.columns[clean_data.isnull().any()].tolist()

['Start',
 'End',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Handset Manufacturer',
 'Handset Type']

In [30]:
clean_data.columns[clean_data.isna().any()].tolist()

['Start',
 'End',
 'IMSI',
 'MSISDN/Number',
 'IMEI',
 'Last Location Name',
 'Handset Manufacturer',
 'Handset Type']

None of our numeric columns have Null or NaN values

2. Categorical/datetime columns

In [31]:
categ_data = clean_data.columns[clean_data.isna().any()].tolist()

In [32]:
clean_data[categ_data].dtypes

Start                   datetime64[ns]
End                     datetime64[ns]
IMSI                            object
MSISDN/Number                   object
IMEI                            object
Last Location Name              object
Handset Manufacturer            object
Handset Type                    object
dtype: object

In [33]:
clean_data[categ_data]=clean_data[categ_data].apply(lambda x: x.fillna(x.mode()[0]),axis=0)

> Test

In [34]:
clean_data.columns[clean_data.isna().any()].tolist()

[]

#### We have no more null columns in our dataset

`#` issue3

In [35]:
clean_data.drop('Dur. (ms).1', axis=1, inplace=True)

test

In [36]:
'Dur. (ms).1' in clean_data.columns.to_list()

False

`#` issue 4

In [37]:
cols = clean_data.columns.to_list()

In [38]:
clean_data.rename(columns= lambda x : x.lower().replace(' ', '_').replace('/', '_').replace(')', '_').replace('.', '_').replace('(', '_').strip() if x in cols else x, inplace=True)

test

In [39]:
clean_data.columns

Index(['bearer_id', 'start', 'start_ms', 'end', 'end_ms', 'dur___ms_', 'imsi',
       'msisdn_number', 'imei', 'last_location_name', 'avg_rtt_dl__ms_',
       'avg_rtt_ul__ms_', 'avg_bearer_tp_dl__kbps_', 'avg_bearer_tp_ul__kbps_',
       'tcp_dl_retrans__vol__bytes_', 'tcp_ul_retrans__vol__bytes_',
       'dl_tp_<_50_kbps__%_', '50_kbps_<_dl_tp_<_250_kbps__%_',
       '250_kbps_<_dl_tp_<_1_mbps__%_', 'dl_tp_>_1_mbps__%_',
       'ul_tp_<_10_kbps__%_', '10_kbps_<_ul_tp_<_50_kbps__%_',
       '50_kbps_<_ul_tp_<_300_kbps__%_', 'ul_tp_>_300_kbps__%_',
       'http_dl__bytes_', 'http_ul__bytes_', 'activity_duration_dl__ms_',
       'activity_duration_ul__ms_', 'handset_manufacturer', 'handset_type',
       'nb_of_sec_with_125000b_<_vol_dl',
       'nb_of_sec_with_1250b_<_vol_ul_<_6250b',
       'nb_of_sec_with_31250b_<_vol_dl_<_125000b',
       'nb_of_sec_with_37500b_<_vol_ul',
       'nb_of_sec_with_6250b_<_vol_dl_<_31250b',
       'nb_of_sec_with_6250b_<_vol_ul_<_37500b',
       'nb_of_sec_with_vol_dl_<_6250b', 'nb_of_sec_with_vol_ul_<_1250b',
       'social_media_dl__bytes_', 'social_media_ul__bytes_',
       'google_dl__bytes_', 'google_ul__bytes_', 'email_dl__bytes_',
       'email_ul__bytes_', 'youtube_dl__bytes_', 'youtube_ul__bytes_',
       'netflix_dl__bytes_', 'netflix_ul__bytes_', 'gaming_dl__bytes_',
       'gaming_ul__bytes_', 'other_dl__bytes_', 'other_ul__bytes_',
       'total_ul__bytes_', 'total_dl__bytes_'],
      dtype='object')

#### Let's do a cursory inspection on our cleaned data

In [40]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 54 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 150001 non-null  object
 1   start                                     150001 non-null  datetime64[ns]
 2   start_ms                                  150001 non-null  float64
 3   end                                       150001 non-null  datetime64[ns]
 4   end_ms                                    150001 non-null  float64
 5   dur___ms_                                 150001 non-null  float64
 6   imsi                                      150001 non-null  float64
 7   msisdn_number                             150001 non-null  float64
 8   imei                                      150001 non-null  float64
 9   last_location_name                        150001 non-null  object
 10  avg_rtt_dl__ms_                           150001 non-null  float64
 11  avg_rtt_ul__ms_                           150001 non-null  float64
 12  avg_bearer_tp_dl__kbps_                   150001 non-null  float64
 13  avg_bearer_tp_ul__kbps_                   150001 non-null  float64
 14  tcp_dl_retrans__vol__bytes_               150001 non-null  float64
 15  tcp_ul_retrans__vol__bytes_               150001 non-null  float64
 16  dl_tp_<_50_kbps__%_                       150001 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps__%_            150001 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps__%_             150001 non-null  float64
 19  dl_tp_>_1_mbps__%_                        150001 non-null  float64
 20  ul_tp_<_10_kbps__%_                       150001 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps__%_             150001 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps__%_            150001 non-null  float64
 23  ul_tp_>_300_kbps__%_                      150001 non-null  float64
 24  http_dl__bytes_                           150001 non-null  float64
 25  http_ul__bytes_                           150001 non-null  float64
 26  activity_duration_dl__ms_                 150001 non-null  float64
 27  activity_duration_ul__ms_                 150001 non-null  float64
 28  handset_manufacturer                      150001 non-null  object
 29  handset_type                              150001 non-null  object
 30  nb_of_sec_with_125000b_<_vol_dl           150001 non-null  float64
 31  nb_of_sec_with_1250b_<_vol_ul_<_6250b     150001 non-null  float64
 32  nb_of_sec_with_31250b_<_vol_dl_<_125000b  150001 non-null  float64
 33  nb_of_sec_with_37500b_<_vol_ul            150001 non-null  float64
 34  nb_of_sec_with_6250b_<_vol_dl_<_31250b    150001 non-null  float64
 35  nb_of_sec_with_6250b_<_vol_ul_<_37500b    150001 non-null  float64
 36  nb_of_sec_with_vol_dl_<_6250b             150001 non-null  float64
 37  nb_of_sec_with_vol_ul_<_1250b             150001 non-null  float64
 38  social_media_dl__bytes_                   150001 non-null  float64
 39  social_media_ul__bytes_                   150001 non-null  float64
 40  google_dl__bytes_                         150001 non-null  float64
 41  google_ul__bytes_                         150001 non-null  float64
 42  email_dl__bytes_                          150001 non-null  float64
 43  email_ul__bytes_                          150001 non-null  float64
 44  youtube_dl__bytes_                        150001 non-null  float64
 45  youtube_ul__bytes_                        150001 non-null  float64
 46  netflix_dl__bytes_                        150001 non-null  float64
 47  netflix_ul__bytes_                        150001 non-null  float64
 48  gaming_dl__bytes_                         150001 non-null  float64
 49  gaming_ul__bytes_                         150001 non-null  float64
 50  other_dl__bytes_                          150001 non-null  float64
 51  other_ul__bytes_                          150001 non-null  float64
 52  total_ul__bytes_                          150001 non-null  float64
 53  total_dl__bytes_                          150001 non-null  float64
dtypes: datetime64[ns](2), float64(48), object(4)
memory usage: 61.8+ MB

 - changed datatypes of certain columns were reversed during one of our operations.
    This needs to be refixed

In [41]:
clean_data.imei = clean_data.imei.astype('object')
clean_data.imsi = clean_data.imsi.astype('object')
clean_data.msisdn_number = clean_data.msisdn_number.astype('object')

In [42]:
clean_data.dtypes

bearer_id                                           object
start                                       datetime64[ns]
start_ms                                           float64
end                                         datetime64[ns]
end_ms                                             float64
dur___ms_                                          float64
imsi                                                object
msisdn_number                                       object
imei                                                object
last_location_name                                  object
avg_rtt_dl__ms_                                    float64
avg_rtt_ul__ms_                                    float64
avg_bearer_tp_dl__kbps_                            float64
avg_bearer_tp_ul__kbps_                            float64
tcp_dl_retrans__vol__bytes_                        float64
tcp_ul_retrans__vol__bytes_                        float64
dl_tp_<_50_kbps__%_                                float64
50_kbps_<_dl_tp_<_250_kbps__%_                     float64
250_kbps_<_dl_tp_<_1_mbps__%_                      float64
dl_tp_>_1_mbps__%_                                 float64
ul_tp_<_10_kbps__%_                                float64
10_kbps_<_ul_tp_<_50_kbps__%_                      float64
50_kbps_<_ul_tp_<_300_kbps__%_                     float64
ul_tp_>_300_kbps__%_                               float64
http_dl__bytes_                                    float64
http_ul__bytes_                                    float64
activity_duration_dl__ms_                          float64
activity_duration_ul__ms_                          float64
handset_manufacturer                                object
handset_type                                        object
nb_of_sec_with_125000b_<_vol_dl                    float64
nb_of_sec_with_1250b_<_vol_ul_<_6250b              float64
nb_of_sec_with_31250b_<_vol_dl_<_125000b           float64
nb_of_sec_with_37500b_<_vol_ul                     float64
nb_of_sec_with_6250b_<_vol_dl_<_31250b             float64
nb_of_sec_with_6250b_<_vol_ul_<_37500b             float64
nb_of_sec_with_vol_dl_<_6250b                      float64
nb_of_sec_with_vol_ul_<_1250b                      float64
social_media_dl__bytes_                            float64
social_media_ul__bytes_                            float64
google_dl__bytes_                                  float64
google_ul__bytes_                                  float64
email_dl__bytes_                                   float64
email_ul__bytes_                                   float64
youtube_dl__bytes_                                 float64
youtube_ul__bytes_                                 float64
netflix_dl__bytes_                                 float64
netflix_ul__bytes_                                 float64
gaming_dl__bytes_                                  float64
gaming_ul__bytes_                                  float64
other_dl__bytes_                                   float64
other_ul__bytes_                                   float64
total_ul__bytes_                                   float64
total_dl__bytes_                                   float64
dtype: object

In [43]:
f'Null Values: {clean_data.isnull().any().sum()}'

'Null Values: 0'

In [44]:
clean_data.shape

(150001, 54)

In [45]:
f'Any Duplicated columns: {clean_data.duplicated().any()}'

'Any Duplicated columns: False'

#### Save the cleaned data to a csv file

In [46]:
new_path = 'datasets/cleaned'

In [48]:
clean_data.to_csv('../datasets/cleaned/cleanWk2_data.csv', index=False)