<a id='top'></a>

## User Satisfaction Analysis of Tellco Telecommunications

#### Tables of Content

<html>
    <ul>
<!--         <li><a href='#intro'>Introduction</a></li> -->
        <li><a href='#obj'>Objective</a></li>
        <li><a href= '#research'/>Research Questions<a/></li>        
        <li><a href= '#ana'>Analysis<a/><li.>
              <br/>
            <ul>
             <li><a href='#lib'>Libraries</a></li>  
             <li><a href='#fe'>Feature Selection</a></li>
             </ul>
            <ol>
            <li><a href='#r1'>Research Question 1</a></li>
             <li><a href='#r2'>Research Question 2</a></li>
             <li><a href='#r3'>Research Question 3</a></li>
            </ol>
        <li><a href= '#go'>General Observation<a/></li>
        <li><a href= '#rc'>Recommendation & Conclusions<a/></li>
        <li><a href= '#lim'>Limitations<a/></li>
        <li><a href= '#ref'>Referecnes<a/></li>
    </ul>
</html>

<a id='obj'></a>

#### Objective

The satisfaction of a user is dependent on user engagement and
experience. 

In this section, I would be analyzing  customer satisfaction in depth.

<a id='ana'></a>

#### Analyis

<a id='lib'></a>
##### Libraries

In [107]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from  scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler
from mpl_toolkits.mplot3d import Axes3D
import scipy.spatial.distance as sdist

Load data

In [108]:
path = '../datasets/cleaned/cleanWk2_data.csv'
data = pd.read_csv(path)

In [109]:
data

,bearer_id,start,start_ms,end,end_ms,imsi,msisdn_number,imei,last_location_name,avg_rtt_dl__ms_,...,youtube_dl__bytes_,youtube_ul__bytes_,netflix_dl__bytes_,netflix_ul__bytes_,gaming_dl__bytes_,gaming_ul__bytes_,other_dl__bytes_,other_ul__bytes_,total_ul__bytes_,total_dl__bytes_
0,13114483460844900352,2019-04-04 12:01:18,770.0000,2019-04-25 14:35:31,662.00000,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,42.000000,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,3.674974e+07,3.088796e+08
1,13114483482878900224,2019-04-09 13:04:04,235.0000,2019-04-25 08:15:48,606.00000,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,65.000000,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,5.380039e+07,6.533850e+08
2,13114483484080500736,2019-04-09 17:42:11,1.0000,2019-04-25 11:58:13,652.00000,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,46.991676,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,2.788364e+07,2.798073e+08
3,13114483485442799616,2019-04-10 00:31:25,486.0000,2019-04-25 07:36:35,171.00000,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,46.991676,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,4.332422e+07,8.460285e+08
4,13114483499480700928,2019-04-12 20:10:23,565.0000,2019-04-25 10:40:32,954.00000,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,46.991676,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,3.854281e+07,5.691386e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42,451.0000,2019-04-30 06:02:33,214.00000,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,32.000000,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,5.762885e+07,5.741753e+08
149997,7349883264234609664,2019-04-29 07:28:42,483.0000,2019-04-30 10:41:33,187.00000,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,27.000000,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,3.913508e+07,6.666488e+08
149998,13114483573367300096,2019-04-29 07:28:43,283.0000,2019-04-30 10:46:12,810.00000,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,43.000000,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,3.491222e+07,5.927864e+08
149999,13114483573367300096,2019-04-29 07:28:43,696.0000,2019-04-30 10:40:34,327.00000,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,37.000000,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,2.962610e+07,3.718959e+08
150000,,2019-04-29 07:08:38,499.1882,2019-04-25 00:01:32,498.80088,2.082016e+14,4.188282e+10,4.847455e+13,D41377B,46.991676,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.111975e+07,4.546434e+08

<a id='research'></a>

#### Research Questions

##### Research Question 1

- Customer Scoring
    
- -        Write a python program to assign:
            
            a. engagement score to each user. Consider the engagement score as the
            Euclidean distance between the user data point & the less engaged
            cluster (use the first clustering for this) 
            
            b. experience score to each user. Consider the experience score as the
            Euclidean distance between the user data point & the worst experience’s
            cluster. 
            
            c. Consider the average of both satisfaction & experience scores as the
            satisfaction score & report the top 10 satisfied customer

##### Research Question 2

- Predicting Customer Satisfaction
    
- -        Run a regression model of your choice to predict the satisfaction score of a customer

##### Research Question 3

- Customer Clustering
    
- -        Do the following:

            a. Run a k-means (k=2) on the engagement & the experience score:
            
            b. Aggregate the average satisfaction & experience score per cluster
            
            c. Export your final table containing all user id + engagement, experience &
            satisfaction scores in your local MySQL database. Report a screenshot of a select on th
            exported table

<a id='fe'></a>
#### Feature Selection

> Load expereince and engagement cluster tables

In [110]:
eng_cluster = pd.read_csv('engagement_cluster.csv', index_col=0)
exp_cluster = pd.read_csv('experience_cluster.csv', index_col=0)

In [111]:
eng_cluster.head()

   session_dur_hours  session_fre  session_trfc  clusters         users
0                  8         1066   507143.1338         2  4.188282e+10
1                  1           16     7348.8834         0  3.365973e+10
2                 15           18     7601.8975         2  3.362632e+10
3                  5           11     4442.6319         0  3.365936e+10
4                  4           15     7525.5495         0  3.367588e+10

In [112]:
eng_cluster.shape

(106857, 5)

In [113]:
eng_cluster.isnull().any()

session_dur_hours    False
session_fre          False
session_trfc         False
clusters             False
users                False
dtype: bool

In [114]:
exp_cluster.head()

     rtt_sum     trp_sum       tcp_sum  handset_count  clusters         users
0   46.00000    76.00000  1.235566e+06              1         0  3.360100e+10
1   31.00000    99.00000  1.235566e+06              1         0  3.360100e+10
2   54.61309    97.00000  1.235566e+06              1         0  3.360100e+10
3   84.00000   248.00000  3.301360e+04              1         0  3.360101e+10
4  119.00000  7162.04626  2.471132e+06              2         0  3.360101e+10

In [115]:
exp_cluster.shape

(106857, 6)

In [116]:
exp_cluster.isnull().any()

rtt_sum          False
trp_sum          False
tcp_sum          False
handset_count    False
clusters         False
users            False
dtype: bool

> Load expericne and engagement centroids

In [117]:
eng_centroids = pd.read_csv('engagement_centroids.csv', index_col=0)
exp_centroids = pd.read_csv('experience_centroids.csv', index_col=0)

In [118]:
eng_centroids = eng_centroids.values.tolist()

In [119]:
eng_centroids

[[0.142592833753939, 0.0003376420317962725, 0.0012045931816718224],
 [0.9315727124648592, 0.0004186115733788047, 0.0012851515780838115],
 [0.5123583396110251, 0.00038003409352027205, 0.0012480724226610358]]

In [120]:
exp_centroids = exp_centroids.values.tolist()

In [121]:
exp_centroids

[[0.0009115184541754137,
  0.0005597056450629728,
  0.0015115893997274408,
  0.0001907912014456321],
 [1.0, 1.0, 1.0, 1.0],
 [0.0030641972401204967,
  0.002968581245842841,
  0.004100220647054865,
  0.0021382060181864898]]

<a id= "r1"></a>
#### Research Question 1

- Customer Scoring
    
- -        Write a python program to assign:
            
            a. engagement score to each user. Consider the engagement score as the
            Euclidean distance between the user data point & the less engaged
            cluster (use the first clustering for this) 
            
            b. experience score to each user. Consider the experience score as the
            Euclidean distance between the user data point & the worst experience’s
            cluster. 
            
            c. Consider the average of both satisfaction & experience scores as the
            satisfaction score & report the top 10 satisfied customer

a. & b

> define function to calcualte distance

In [122]:
def calc_dist (df, centroids, drop_cols=["users", "clusters"]):
    points = df.drop(columns=drop_cols)
    # get normalised points
    scaler = MinMaxScaler()
    scaler.fit(points)
    points = scaler.transform(points)
    dists = pd.DataFrame(
        sdist.cdist(points, centroids), 
        columns=['dist_{}'.format(i) for i in range(len(centroids))],
        index=df.index)
    new_df = pd.concat([df, dists], axis=1)
    #print(sdist.cdist(points, centroids))
    return new_df

>> calcluate  distances

In [123]:
eng_dist = calc_dist(eng_cluster, eng_centroids)

In [124]:
exp_dist = calc_dist(exp_cluster, exp_centroids)

In [125]:
eng_dist

,session_dur_hours,session_fre,session_trfc,clusters,users,dist_0,dist_1,dist_2
0,8,1066,507143.1338,2,4.188282e+10,1.427949,1.528841,1.422609
1,1,16,7348.8834,0,3.365973e+10,0.100933,0.888297,0.469265
2,15,18,7601.8975,2,3.362632e+10,0.510005,0.280163,0.141345
3,5,11,4442.6319,0,3.365936e+10,0.075716,0.714276,0.295199
4,4,15,7525.5495,0,3.367588e+10,0.036458,0.757887,0.338956
...,...,...,...,...,...,...,...,...
106852,2,1,199.2166,0,3.365043e+10,0.055644,0.844617,0.425403
106853,2,1,797.9008,0,3.369839e+10,0.055638,0.844616,0.425402
106854,1,1,266.8424,0,3.365933e+10,0.099118,0.888095,0.468881
106855,1,1,647.0846,0,3.366566e+10,0.099115,0.888095,0.468880
106856,1,1,532.4696,0,3.376351e+10,0.099115,0.888095,0.468880

In [126]:
exp_dist

,rtt_sum,trp_sum,tcp_sum,handset_count,clusters,users,dist_0,dist_1,dist_2
0,46.000000,7.600000e+01,1.235566e+06,1,0,3.360100e+10,0.000624,1.998852e+00,0.005023
1,31.000000,9.900000e+01,1.235566e+06,1,0,3.360100e+10,0.000753,1.998979e+00,0.005147
2,54.613090,9.700000e+01,1.235566e+06,1,0,3.360100e+10,0.000583,1.998776e+00,0.004952
3,84.000000,2.480000e+02,3.301360e+04,1,0,3.360101e+10,0.001622,1.999284e+00,0.005703
4,119.000000,7.162046e+03,2.471132e+06,2,0,3.360101e+10,0.002320,1.996199e+00,0.002363
...,...,...,...,...,...,...,...,...,...
106852,40.000000,1.160000e+02,1.235566e+06,1,0,3.379000e+10,0.000661,1.998900e+00,0.005067
106853,58362.616409,4.652915e+06,7.750170e+08,1066,1,4.188282e+10,1.998413,1.570092e-16,1.993865
106854,54.613090,1.000000e+00,1.235566e+06,1,0,3.197021e+12,0.000602,1.998787e+00,0.004964
106855,54.613090,3.300000e+01,1.235566e+06,1,0,3.370000e+14,0.000596,1.998783e+00,0.004960
106856,54.613090,2.000000e+00,1.235566e+06,1,0,8.823971e+14,0.000602,1.998787e+00,0.004964

> FInd the least engaged cluster and assign distance points as score

In [127]:
eng_dist.clusters.value_counts()

1    38170
0    37059
2    31628
Name: clusters, dtype: int64

`0` is the least enagaged cluster, hence score is dist_0

In [128]:
eng_dist['eng_score'] = eng_dist.dist_0

In [129]:
eng_dist.drop(columns=['dist_0','dist_1','dist_2'], inplace=True)

In [130]:
eng_dist

,session_dur_hours,session_fre,session_trfc,clusters,users,eng_score
0,8,1066,507143.1338,2,4.188282e+10,1.427949
1,1,16,7348.8834,0,3.365973e+10,0.100933
2,15,18,7601.8975,2,3.362632e+10,0.510005
3,5,11,4442.6319,0,3.365936e+10,0.075716
4,4,15,7525.5495,0,3.367588e+10,0.036458
...,...,...,...,...,...,...
106852,2,1,199.2166,0,3.365043e+10,0.055644
106853,2,1,797.9008,0,3.369839e+10,0.055638
106854,1,1,266.8424,0,3.365933e+10,0.099118
106855,1,1,647.0846,0,3.366566e+10,0.099115
106856,1,1,532.4696,0,3.376351e+10,0.099115

In [131]:
eng_dist.users =eng_dist.users.astype('int64')

In [132]:
eng_dist

,session_dur_hours,session_fre,session_trfc,clusters,users,eng_score
0,8,1066,507143.1338,2,41882819545,1.427949
1,1,16,7348.8834,0,33659725664,0.100933
2,15,18,7601.8975,2,33626320676,0.510005
3,5,11,4442.6319,0,33659359429,0.075716
4,4,15,7525.5495,0,33675877202,0.036458
...,...,...,...,...,...,...
106852,2,1,199.2166,0,33650431620,0.055644
106853,2,1,797.9008,0,33698390293,0.055638
106854,1,1,266.8424,0,33659328207,0.099118
106855,1,1,647.0846,0,33665660120,0.099115
106856,1,1,532.4696,0,33763505878,0.099115

> FInd the worst expereinced cluster and assign distance points as score

In [133]:
exp_dist.clusters.value_counts()

0    96942
2     9914
1        1
Name: clusters, dtype: int64

`1` is the least enagaged cluster, hence score is dist_1

In [134]:
exp_dist['exp_score'] = exp_dist.dist_1

In [135]:
exp_dist.drop(columns=['dist_0','dist_1','dist_2'], inplace=True)

In [136]:
exp_dist

,rtt_sum,trp_sum,tcp_sum,handset_count,clusters,users,exp_score
0,46.000000,7.600000e+01,1.235566e+06,1,0,3.360100e+10,1.998852e+00
1,31.000000,9.900000e+01,1.235566e+06,1,0,3.360100e+10,1.998979e+00
2,54.613090,9.700000e+01,1.235566e+06,1,0,3.360100e+10,1.998776e+00
3,84.000000,2.480000e+02,3.301360e+04,1,0,3.360101e+10,1.999284e+00
4,119.000000,7.162046e+03,2.471132e+06,2,0,3.360101e+10,1.996199e+00
...,...,...,...,...,...,...,...
106852,40.000000,1.160000e+02,1.235566e+06,1,0,3.379000e+10,1.998900e+00
106853,58362.616409,4.652915e+06,7.750170e+08,1066,1,4.188282e+10,1.570092e-16
106854,54.613090,1.000000e+00,1.235566e+06,1,0,3.197021e+12,1.998787e+00
106855,54.613090,3.300000e+01,1.235566e+06,1,0,3.370000e+14,1.998783e+00
106856,54.613090,2.000000e+00,1.235566e+06,1,0,8.823971e+14,1.998787e+00

In [137]:
exp_dist.users =exp_dist.users.astype('int64')

In [138]:
exp_dist

,rtt_sum,trp_sum,tcp_sum,handset_count,clusters,users,exp_score
0,46.000000,7.600000e+01,1.235566e+06,1,0,33601001722,1.998852e+00
1,31.000000,9.900000e+01,1.235566e+06,1,0,33601001754,1.998979e+00
2,54.613090,9.700000e+01,1.235566e+06,1,0,33601002511,1.998776e+00
3,84.000000,2.480000e+02,3.301360e+04,1,0,33601007832,1.999284e+00
4,119.000000,7.162046e+03,2.471132e+06,2,0,33601008617,1.996199e+00
...,...,...,...,...,...,...,...
106852,40.000000,1.160000e+02,1.235566e+06,1,0,33789997247,1.998900e+00
106853,58362.616409,4.652915e+06,7.750170e+08,1066,1,41882819545,1.570092e-16
106854,54.613090,1.000000e+00,1.235566e+06,1,0,3197020876596,1.998787e+00
106855,54.613090,3.300000e+01,1.235566e+06,1,0,337000037000919,1.998783e+00
106856,54.613090,2.000000e+00,1.235566e+06,1,0,882397108489451,1.998787e+00